@media (max-width:1199px) {
	#search {
		right: 15px;
	}

	#container {
		padding: 20px 15px;
	}

	.box-dt {
		max-width: 95%;
	}

	.box-tintuc {
		max-width: 95%;
	}
}

@media (min-width:992px) and (max-width:1199px) {

	.box-sp {
		width: 32%;
		margin: 0px 2% 20px 0px;
	}

	.box-sp:nth-child(3n) {
		margin-right: 0;
	}

	.box-sp:nth-child(3n+1) {
		clear: both;
	}

	.box-product {
		width: 32%;
		margin: 0px 2% 20px 0px;
	}

	.box-product:nth-child(3n) {
		margin-right: 0;
	}

	.box-product:nth-child(3n+1) {
		clear: both;
	}

	.box-album {
		width: 32%;
		margin: 0px 2% 20px 0px;
	}

	.box-album:nth-child(3n) {
		margin-right: 0;
	}

	.box-album:nth-child(3n+1) {
		clear: both;
	}

	.box-video {
		width: 32%;
		margin: 0px 2% 20px 0px;
	}

	.box-video:nth-child(3n) {
		margin-right: 0;
	}

	.box-video:nth-child(3n+1) {
		clear: both;
	}

	.footer-1 {
		width: 35%;
		margin: 0px;
	}

	.footer-2 {
		width: calc(35% - 20px);
		margin: 0 0 0 20px;
	}

	.footer-3 {
		width: calc(30% - 20px);
		margin: 0 0 0 20px;
	}
}

@media (max-width:991px) {

	#header,
	.banner-ab,
	#menu,
	.right {
		display: none;
	}

	#banner .center {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.logo {
		position: static;
		padding: 0;
		margin-right: 15px;
	}

	.banner {
		padding: 0;
	}

	#menu-mobile {
		display: block;
	}

	#smenu a {
		font-family: RM;
		color: #fff;
		font-size: 16px;
		margin-left: 5px;
	}

	#service .control-style button.owl-prev,
	#feedback .control-style button.owl-prev {
		left: 10px;
		transform: translate(-50%, -50%);
	}

	#service .control-style button.owl-next,
	#feedback .control-style button.owl-next {
		right: 10px;
		transform: translate(50%, -50%);

	}

	.left {
		width: 100%;
	}

	#procedure img {
		max-width: 100%;
	}
}

@media (min-width:768px) and (max-width:991px) {
	.box-sp {
		width: 32%;
		margin: 0px 2% 20px 0px;
	}

	.box-sp:nth-child(3n) {
		margin-right: 0;
	}

	.box-sp:nth-child(3n+1) {
		clear: both;
	}

	.box-product {
		width: 32%;
		margin: 0px 2% 20px 0px;
	}

	.box-product:nth-child(3n) {
		margin-right: 0;
	}

	.box-product:nth-child(3n+1) {
		clear: both;
	}

	.box-album {
		width: 32%;
		margin: 0px 2% 20px 0px;
	}

	.box-album:nth-child(3n) {
		margin-right: 0;
	}

	.box-album:nth-child(3n+1) {
		clear: both;
	}

	.box-video {
		width: 32%;
		margin: 0px 2% 20px 0px;
	}

	.box-video:nth-child(3n) {
		margin-right: 0;
	}

	.box-video:nth-child(3n+1) {
		clear: both;
	}

	.footer-1 {
		width: 100%;
		float: none;
		margin: 0 0 15px;
	}

	.footer-2 {
		width: 350px;
		float: left;
	}

	.footer-3 {
		width: 350px;
		float: right;
	}
}

@media (max-width:767px) {

	.btn-zalo,
	#messages-facebook {
		display: none;
	}

	#intro,
	#service,
	#procedure,
	#news,
	#footer-newsletter {
		padding: 30px 0px;
	}

	.intro-left,
	.intro-right,
	.news-left,
	.news-right,
	.footer-newsletter-left,
	.footer-newsletter-right {

		width: 100%;
	}

	.social {
		width: 100%;
		margin-top: 25px;
	}

	.footer-mxh {
		gap: 12px;
		justify-content: center;
	}

	.footer-logo-social .center {
		padding: 0px 5px;
	}

	.btn-more {
		min-width: 145px;
	}

	.intro-left,
	.news-left,
	.footer-newsletter-left {
		margin-bottom: 25px;
	}

	/* .fix-toolbar {
		display: block;
	} */

	.cta-bar {
		display: block;
	}

	.content iframe {
		width: 100% !important;
		height: 45vh;
	}

	.content img {
		height: inherit !important
	}

	.logo {
		position: static;
		margin-right: 10px;
		height: auto;
	}

	#footer {
		padding-bottom: 45px;
	}

	.footer-top {
		padding-bottom: 0;
	}

	.footer-1,
	.footer-2,
	.footer-3,
	.footer-4 {
		width: 100%;
		float: none;
		margin: 0 0 20px 0;
	}

	.copyright,
	.statistic {
		width: 100%;
	}

	.statistic span {
		margin: 0 5px;
	}

	.ft-b .center>div {
		width: 100%;
	}

	.top-contact .article-contact {
		width: 100%;
		margin-bottom: 20px;
	}

	.form-contact {
		width: 100%;
	}

	#top .center>div {
		width: 100%;
	}

	#top #breadcrumb {
		margin-bottom: 0
	}

	.bottom-left {
		width: 100%;
		margin-bottom: 20px;
	}

	.bottom-right:not(.onApp) {
		width: 100%;
	}

	.tintuc-l {
		width: 100%;
		margin-bottom: 20px;
	}

	.tintuc-r {
		width: 100%;
	}

	.left-pro-detail {
		float: none;
		width: 100%;
		margin: 0 0 20px;
	}

	.right-pro-detail {
		float: none;
		width: 100%;
	}

	.grid-thuvienanh {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 22vh);
	}

	.box-thuvienanh .box-thuvienanh-content {
		background: rgba(0, 0, 0, 0.4);
		color: #fff;
	}

	.content-tabs-pro-detail img,
	.content-news img {
		width: auto !important;
		height: auto !important;
	}
}

@media (min-width:481px) and (max-width:767px) {
	.box-sp {
		width: 49%;
		margin: 0px 2% 15px 0px;
	}

	.box-sp:nth-child(2n) {
		margin-right: 0;
	}

	.box-sp:nth-child(2n+1) {
		clear: both;
	}

	.box-product {
		width: 49%;
		margin: 0px 2% 15px 0px;
	}

	.box-product:nth-child(2n) {
		margin-right: 0;
	}

	.box-product:nth-child(2n+1) {
		clear: both;
	}

	.box-album {
		width: 49%;
		margin: 0px 2% 15px 0px;
	}

	.box-album:nth-child(2n) {
		margin-right: 0;
	}

	.box-album:nth-child(2n+1) {
		clear: both;
	}

	.box-video {
		width: 49%;
		margin: 0px 2% 15px 0px;
	}

	.box-video:nth-child(2n) {
		margin-right: 0;
	}

	.box-video:nth-child(2n+1) {
		clear: both;
	}
}

@media (max-width:480px) {
	.box-sp {
		width: 49%;
		margin: 0px 2% 10px 0px;
	}

	.intro-right {
		padding-bottom: 8vh;
	}

	.news-item {
		flex-wrap: wrap;
	}

	.news-image {
		width: 100%;
	}

	.news-desc {
		flex: unset;
		width: 100%;
	}

	.box-sp:nth-child(2n) {
		margin-right: 0;
	}

	.box-sp:nth-child(2n+1) {
		clear: both;
	}

	.box-product {
		width: 49%;
		margin: 0px 2% 10px 0px;
	}

	.box-product:nth-child(2n) {
		margin-right: 0;
	}

	.box-product:nth-child(2n+1) {
		clear: both;
	}

	.box-album {
		width: 49%;
		margin: 0px 2% 10px 0px;
	}

	.box-album:nth-child(2n) {
		margin-right: 0;
	}

	.box-album:nth-child(2n+1) {
		clear: both;
	}

	.box-video {
		width: 49%;
		margin: 0px 2% 10px 0px;
	}

	.box-video:nth-child(2n) {
		margin-right: 0;
	}

	.box-video:nth-child(2n+1) {
		clear: both;
	}
}

@media (max-width:374px) {

	.lh-con-l,
	.lh-con-r {
		width: 100%;
		float: none;
		margin: 0px;
		padding: 0px;
	}

	.lh-con-r {
		margin-bottom: 10px;
	}

	.box-sp {
		width: 90%;
		margin: 0px 5% 10px;
		float: none;
	}

	.box-product {
		width: 90%;
		margin: 0px 5% 10px;
		float: none;
	}

	.box-album {
		width: 90%;
		margin: 0px 5% 10px;
		float: none;
	}

	.box-video {
		width: 90%;
		margin: 0px 5% 10px;
		float: none;
	}
}